Plugins>QuimP-16.08.01-SNAPSHOT, "QuimP Bar", uk.ac.warwick.wsbc.QuimP.QuimP_Bar
Plugins>QuimP-16.08.01-SNAPSHOT, "BOA", uk.ac.warwick.wsbc.QuimP.BOA_
Plugins>QuimP-16.08.01-SNAPSHOT, "ANA", uk.ac.warwick.wsbc.QuimP.ANA_
Plugins>QuimP-16.08.01-SNAPSHOT, "ECMM Mapping", uk.ac.warwick.wsbc.QuimP.ECMM_Mapping
Plugins>QuimP-16.08.01-SNAPSHOT, "QuimP Analysis", uk.ac.warwick.wsbc.QuimP.Q_Analysis
Plugins>QuimP-16.08.01-SNAPSHOT, "Test QuimP", uk.ac.warwick.wsbc.QuimP.Test_QuimP
Plugins>QuimP-16.08.01-SNAPSHOT, "DIC", uk.ac.warwick.wsbc.QuimP.DICLIDReconstruction_
Plugins>QuimP-16.08.01-SNAPSHOT, "RandomWalk", uk.ac.warwick.wsbc.QuimP.RandomWalkSegmentationPlugin_
Plugins>QuimP-16.08.01-SNAPSHOT, "Protrusion Analysis", uk.ac.warwick.wsbc.QuimP.plugin.Prot_Analysis.Prot_Analysis