Plugins>QuimP-16.08.01-SNAPSHOT, "QuimP Bar (new)", uk.ac.warwick.wsbc.QuimP.QuimP_Bar
Plugins>QuimP-16.08.01-SNAPSHOT, "BOA (new)", uk.ac.warwick.wsbc.QuimP.BOA_
Plugins>QuimP-16.08.01-SNAPSHOT, "ANA (new)", uk.ac.warwick.wsbc.QuimP.ANA_
Plugins>QuimP-16.08.01-SNAPSHOT, "ECMM Mapping (new)", uk.ac.warwick.wsbc.QuimP.ECMM_Mapping
Plugins>QuimP-16.08.01-SNAPSHOT, "QuimP Analysis (new)", uk.ac.warwick.wsbc.QuimP.Q_Analysis
Plugins>QuimP-16.08.01-SNAPSHOT, "Test QuimP (new)", uk.ac.warwick.wsbc.QuimP.Test_QuimP
Plugins>QuimP-16.08.01-SNAPSHOT, "DIC", uk.ac.warwick.wsbc.QuimP.DICLIDReconstruction_
Plugins>QuimP-16.08.01-SNAPSHOT, "RandomWalk", uk.ac.warwick.wsbc.QuimP.RandomWalkSegmentationPlugin_