Plugins>QuimP-16.05.06-beta, "QuimP Bar", uk.ac.warwick.wsbc.QuimP.QuimP_Bar
Plugins>QuimP-16.05.06-beta, "BOA", uk.ac.warwick.wsbc.QuimP.BOA_
Plugins>QuimP-16.05.06-beta, "ANA", uk.ac.warwick.wsbc.QuimP.ANA_
Plugins>QuimP-16.05.06-beta, "ECMM Mapping", uk.ac.warwick.wsbc.QuimP.ECMM_Mapping
Plugins>QuimP-16.05.06-beta, "QuimP Analysis", uk.ac.warwick.wsbc.QuimP.Q_Analysis
Plugins>QuimP-16.05.06-beta, "Test QuimP", uk.ac.warwick.wsbc.QuimP.Test_QuimP
Plugins>QuimP-16.05.06-beta, "DIC", uk.ac.warwick.wsbc.QuimP.DICLIDReconstruction_