<?xml version="1.0" encoding="UTF-8"?><!--This default logger configuration log messages to two stremas separatelly. All up to threshold level is logged to stdout, everything above threshold level to stderr--><!--Piotr Baniukiewicz--><!--7.12.2015-->
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_DIR">${sys:java.io.tmpdir}/QuimpLogs</Property>
    </Properties>
    <Appenders>
        <Console target="SYSTEM_OUT" name="Console_out">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{2}.[%M] - %msg%n"></PatternLayout>
            <ThresholdFilter level="warn" onMatch="deny" onMismatch="ACCEPT"></ThresholdFilter>
        </Console>
        <Console target="SYSTEM_ERR" name="Console_err">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{2}.[%M] - %msg%n"></PatternLayout>
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console><!--Two filters need to modified if threshold level is changed. This level concerns only what should be logged to which stream. Global loglevel is in Loggers group-->
        <File name="File_log" FileName="${LOG_DIR}/HatSnakeFilter.log">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{2}.[%M] - %msg%n"></PatternLayout></File>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="Console_err"></AppenderRef>
            <AppenderRef ref="Console_out"></AppenderRef><!--Here is global loglevel above which is logging-->
            <AppenderRef ref="File_log"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>