Plugins>, "QuimP Bar", uk.warwick.quimp.QuimP_Bar
Plugins>QuimP@ver@@purpose@, "BOA", uk.warwick.quimp.BOA_
Plugins>QuimP@ver@@purpose@, "ANA", uk.warwick.quimp.ANA_
Plugins>QuimP@ver@@purpose@, "ECMM Mapping", uk.warwick.quimp.ECMM_Mapping
Plugins>QuimP@ver@@purpose@, "QuimP Analysis", uk.warwick.quimp.Q_Analysis
Plugins>QuimP@ver@@purpose@, "Test QuimP", uk.warwick.quimp.Test_QuimP