Plugins>, "QuimP Bar", uk.warwick.quimp_11b.QuimP_Bar
Plugins>QuimP@ver@@purpose@, "BOA", uk.warwick.quimp_11b.BOA_
Plugins>QuimP@ver@@purpose@, "ANA", uk.warwick.quimp_11b.ANA_
Plugins>QuimP@ver@@purpose@, "ECMM Mapping", uk.warwick.quimp_11b.ECMM_Mapping
Plugins>QuimP@ver@@purpose@, "QuimP Analysis", uk.warwick.quimp_11b.Q_Analysis
Plugins>QuimP@ver@@purpose@, "Test QuimP", uk.warwick.quimp_11b.Test_QuimP