Plugins>QuimP-${project.version}, "QuimP Bar", QuimP_BarRunner
Plugins>QuimP-${project.version}, "BOA", BOA_Runner
Plugins>QuimP-${project.version}, "ANA", ANA_Runner
Plugins>QuimP-${project.version}, "ECMM Mapping", ECMM_MappingRunner
Plugins>QuimP-${project.version}, "QuimP Analysis", Q_AnalysisRunner
Plugins>QuimP-${project.version}, "DIC", DicLidReconstruction_Runner
Plugins>QuimP-${project.version}, "Generate mask", GenerateMask_Runner
Plugins>QuimP-${project.version}, "Generate Qconf", BinarySegmentation_Runner
Plugins>QuimP-${project.version}, "RandomWalk", RandomWalkSegmentationPlugin_Runner
Plugins>QuimP-${project.version}, "Protrusion Analysis", Prot_AnalysisRunner
Plugins>QuimP-${project.version}, "Format converter", Format_ConverterRunner