Plugins>QuimP-16.03.17, "QuimP Bar", uk.ac.warwick.wsbc.QuimP.QuimP_Bar
Plugins>QuimP-16.03.17, "BOA", uk.ac.warwick.wsbc.QuimP.BOA_
Plugins>QuimP-16.03.17, "ANA", uk.ac.warwick.wsbc.QuimP.ANA_
Plugins>QuimP-16.03.17, "ECMM Mapping", uk.ac.warwick.wsbc.QuimP.ECMM_Mapping
Plugins>QuimP-16.03.17, "QuimP Analysis", uk.ac.warwick.wsbc.QuimP.Q_Analysis
Plugins>QuimP-16.03.17, "Test QuimP", uk.ac.warwick.wsbc.QuimP.Test_QuimP
Plugins>QuimP-16.03.17, "DIC", uk.ac.warwick.wsbc.QuimP.DICLIDReconstruction_